    /* Phan nay cua trang lien he */
    .lienhe_wrap {
        padding: 15px;
    }
    .tieudelienhe {
        text-align: center;
        color: rgb(0, 121, 50);
        font-size: 20pt;
    }
    #ggui {
        color: #00ab00;
        padding: 20px;
        font-size: 30pt;
        background-color: rgb(172, 172, 172);
        border: 0;
        cursor:pointer;
    }